body {
  background-image: url("note_book.png");
  background-size: 850px 700px;
  background-repeat: no-repeat;
  background-position: center;
} 


h2 {
  text-align: center;
  font-family: 'Shadows into Light', cursive;
  color: #000F55;
  width: 49%;
  
}

#box {
  text-align: center;
  height: 800px; 
  margin: auto;

}

#leftPage{
  width: 49%;
  display: inline-block;

}

#rightPage {
  width: 49%;
  display:inline-block;
  margin-top: 5%;
}

.list {
  width: 49%;
  height: 600px;
 }

input {
  
  margin-top: 10px;
 
}

#myForm {
  margin-left: 100px;
}

 #todo-input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid navy;
  font-family: 'Shadows into Light', cursive;
  font-size: 10px;
}
input.submit {
  margin-left: 5px;
}

ul li {
    list-style: none;
    text-align: left;
    display: block;
    font-size: 15px;
    color: #000F55;
    font-family: 'Shadows into Light', cursive;
    line-height: 2em;


}

.X {

}